<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/galleryExpand.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/sections.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>Categories</title>
  </head>

  <body>
    <%- include("../partials/header") %>

    <main class="main-content">
      <h2 class="main-title">Categories</h2>

      <section class="text-container">
        <a href="/categories/create" class="btn btn-add-text"
          >+ Add New Category</a
        >

        <div class="cs-content">
          <ul class="cs-card-group">
            <% categories.forEach(category => { %>
            <li class="cs-item">
              <span class="cs-date">
                <span class="material-symbols-outlined icon-default">
                  <%= category.name === "Indoor Plants" ? "potted_plant" :
                  category.name === "Outdoor Plants" ? "park" : "grass" %>
                </span>
              </span>

              <div class="cs-info">
                <a
                  href="/categories/<%= category.id %>"
                  class="cs-h3"
                  title="<%= category.name %>"
                  ><%= category.name %></a
                >
              </div>

              <div class="btn-action-container">
                <a
                  href="/categories/edit/<%= category.id %>"
                  class="cs-button-solid"
                  title="Edit"
                  ><span class="material-symbols-outlined">
                    edit_square
                  </span></a
                >

                <form
                  action="/categories/delete/<%= category.id %>"
                  method="POST"
                  class="btn-delete-container"
                >
                  <button
                    type="submit"
                    onclick="return confirm('Are you sure?')"
                    class="cs-button-solid btn-delete"
                    title="Delete"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </form>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
      </section>

      <aside class="img-container wrapper">
        <div class="container">
          <img
            src="/images/categories/categories-thanh-luu.jpg"
            alt="outdoor plant picture"
            loading="lazy"
          />
          <img
            src="/images/categories/categories-stayhereforu.jpg"
            alt="indoor plant picture"
            loading="lazy"
          />
          <img
            src="/images/categories/categories-huy-phan.jpg"
            alt="indoor plant picture"
            loading="lazy"
          />
          <img
            src="/images/categories/categories-elletakesphotos.jpg"
            alt="indoor plant picture"
            loading="lazy"
          />
          <img
            src="/images/categories/categories-szymon-shields.jpg"
            alt="outdoor plant picture"
            loading="lazy"
          />
        </div>
      </aside>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
