<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/sections.css" />
    <link rel="stylesheet" href="/css/show.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="/images/logo-plantory.ico">
    <title><%= category.name %> - Items</title>
  </head>

  <body>
    <%- include("../partials/header") %>

    <main class="main-content show">
      <section class="section-container">
        <article class="text-container">
          <h2 class="category-title"><%= category.name %></h2>
          <p class="plain-text">
            <strong>Description:</strong>
            <%= category.description %>
          </p>

          <div class="btn-action-container">
            <a
              href="/categories/edit/<%= category.id %>"
              class="btn cs-button-solid"
              title="Edit Category"
              ><span class="material-symbols-outlined"> edit_square </span></a
            >
            <form
              action="/categories/delete/<%= category.id %>"
              method="POST"
              class="btn-delete-container"
            >
              <button
                type="submit"
                onclick="return confirm('Are you sure?')"
                class="btn cs-button-solid btn-delete"
                title="Delete Category"
              >
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </form>
          </div>

          <hr />
          <h3>Items in this Category:</h3>

          <%if (items.length > 0) { %>
          <ul class="cs-container">
            <% items.forEach(item => { %>
            <li class="cs-info">
              <a href="/items/<%= item.id %>" class="cs-h3"><%= item.name %></a>
            </li>
            <% }); %>
          </ul>

          <% } else { %>
          <p>No items yet</p>
          <% } %>
        </article>
      </section>

      <aside class="aside-image-container">
        <span class="aside-image">
          <span class="material-symbols-outlined icon-default aside-icon">
            potted_plant
          </span>
        </span>
      </aside>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
