<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/sections.css" />
    <link rel="stylesheet" href="/css/galleryGrid.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="/images/logo-plantory.ico">
    <title>Items</title>
  </head>

  <body>
    <%- include("../partials/header") %>

    <main class="main-content">
      <h2 class="main-title">Items</h2>

      <section class="text-container">
        <a href="/items/create" class="btn btn-add-text">+ Add New Item</a>

        <div class="cs-content">
          <ul class="cs-card-group">
            <% items.forEach((item, index) => { %>
            <li class="cs-item">
              <span class="cs-date">
                <span class="material-symbols-outlined icon-default">
                  <%= itemCategoryName[index].category_name === "Indoor Plants"
                  ? "potted_plant" : itemCategoryName[index].category_name ===
                  "Outdoor Plants" ? "park" : "grass" %>
                </span>
              </span>

              <div class="cs-info">
                <a
                  href="/items/<%= item.id %>"
                  class="cs-h3"
                  title="<%= item.name %>"
                  ><%= item.name %></a
                >
              </div>

              <div class="btn-action-container">
                <a
                  href="/items/edit/<%= item.id %>"
                  class="cs-button-solid"
                  title="Edit"
                  ><span class="material-symbols-outlined">
                    edit_square
                  </span></a
                >

                <form
                  action="/items/delete/<%= item.id %>"
                  method="POST"
                  class="btn-delete-container"
                >
                  <button
                    type="submit"
                    onclick="return confirm('Are you sure?')"
                    class="cs-button-solid btn-delete"
                    title="Delete"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                </form>
              </div>
            </li>
            <% }); %>
          </ul>
        </div>
      </section>

      <aside class="img-container wrapper">
        <div class="gallery">
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-kenzero14.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-febe-theodora.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-feiwang.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-mooncrescent.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-nietjuhart.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-wolpido.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-magda-ehlers.jpg"
              alt=""
            />
          </div>
          <div class="gallery__item">
            <img
              class="gallery__asset"
              loading="lazy"
              src="/images/plants/plants-matreding.jpg"
              alt=""
            />
          </div>
        </div>
      </aside>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
